.Images{
    display: grid;
    grid-template-columns: 90%;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 5%;

    &__Image{
        width: 100%;

        &:hover{
            cursor: pointer;
        }
    }
}

@media (min-width: 780px){
    .Images{
        grid-template-columns: 40% 40%;
    }
}